<h3 style="float: left"><%= @vendor.name %></h3><h5 style="float: left; padding-left: 5px; position: relative; top: 2px;"><%= @version.number %></h5>
<br style="clear: both" />

<p><%= @vendor.description %></p>

<pre>lib "<%= @vendor.name %>", "~> <%= @version.version %>"</pre>

<h4>Actions</h4>

<p>
  <%= link_to "Download #{@vendor.name} #{@version.number}", vendor_download_path(@vendor, :version => @version.number) %>
  <% if @version.user == current_user %>
    &nbsp;|&nbsp;<%= link_to "Delete Version", vendor_path(@vendor), :method => :delete, :confirm => "Are you sure you want to destroy with version?", :class => "delete-version-button" %>
  <% end %>
</p>

<% links = [] %>
<% links << link_to("Homepage", @vendor.homepage) if @vendor.homepage.present? %>
<% links << link_to("Source", @vendor.source) if @vendor.source.present? %>
<% links << link_to("Docs", @vendor.docs) if @vendor.docs.present? %>

<% if links.any? %>

  <h4>Links</h4>

  <p><%= links.join("&nbsp;|&nbsp;".html_safe).html_safe %></p>

<% end %>

<% if @vendor.versions.any? %>

  <h4>Versions</h4>

  <ul>
    <% @vendor.versions.sort.reverse.each do |version| %>
      <li>
      <%= link_to version.number, vendor_version_path(:vendor_id => @vendor.to_param, :version => version.number) %> (<%= version.downloads.count %> downloads)
      <br/><em>uploaded by <%= version.user.username %> <%= time_ago_in_words(version.created_at) %> ago</em>
      </li>
    <% end %>
  </ul>

<% end %>

<% if @version.dependencies.any? %>

  <h4>Dependencies</h4>
  <ul>
    <% @version.dependencies.each do |dependency| %>
      <li><%= link_to dependency.name, vendor_path(dependency.name.slugerize) %> <%= dependency.number %></li>
    <% end %>
  </ul>

<% end %>
