<%= form_errors! %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <fieldset>

    <legend>Sign in</legend>

    <div class="clearfix">
      <%= f.label :login %>
      <div class="input">
        <%= f.text_field :login %>
        <span class="help-block">
          Username or email address
        </span>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="clearfix">
        <%= f.label :remember_me %>
        <div class="input">
          <%= f.check_box :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="clearfix">
      <div class="input">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", :class => "btn primary" %>
    </div>

  </fieldset>

<% end %>
