<!DOCTYPE html>
<html>
<head>
  <title>Vendorforge</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="http://github.com/keithpitt/vendorforge.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
  <div class="container">
    <h1 style="padding-top: 20px">Vendorforge</h1>
    <ul class="tabs">
      <li class="<%= controller_name == 'pages' ? "active" : "" %>"><%= link_to "Home", :root %></li>
      <li class="<%= controller_name == 'vendors' && action_name =~ /(index|show)/ ? "active" : "" %>"><%= link_to "Vendors", vendors_path %></li>
      <% if user_signed_in? %>
        <li class="<%= controller_name == 'vendors' && action_name =~ /(new|create)/ ? "active" : "" %>"><%= link_to "Upload", new_vendor_path %></li>
        <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="<%= controller_name == 'sessions' ? "active" : "" %>"><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
    <% flash.each do |key, message| %>
      <div class="alert-message <%= key == :alert ? "error" : "success" %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26822336-1']);
    _gaq.push(['_trackPageview']);
    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
</body>
</html>
