<!DOCTYPE html>
<html>
<head>
  <title>Vendorage</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 style="padding-top: 20px">Vendorage</h1>
    <ul class="tabs">
      <li class="<%= controller_name == 'pages' ? "active" : "" %>"><%= link_to "Home", :root %></li>
      <% if user_signed_in? %>
        <li class="<%= controller_name == 'vendors' ? "active" : "" %>"><%= link_to "Upload", new_vendor_path %></li>
        <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="<%= controller_name == 'sessions' ? "active" : "" %>"><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
    <% flash.each do |key, message| %>
      <div class="alert-message <%= key == :alert ? "error" : "success" %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
